.container {
  width: 100%;
  height: 60px;
  background-color: #adff2f;
  display: flex;
  align-items: center;
  .inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .nav_container {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav_item {
        color: #006eff;
        padding: 5px 14px 7px;
        font-weight: 600;
        font-size: 17px;
        border-radius: 7px;
        transition: all .3s;
        &:hover {
          cursor: pointer;
          background-color: #cdff81;
        }
      }
    }
  }
}