.container {
  width: 100%;
  margin-top: 50px;
  .inner {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .user_item {
      display: block;
      width: 250px;
      height: 350px;
      margin: 0 auto;
      box-shadow: 5px 5px 10px #a3a3a3;
      border-radius: 15px;
      margin-bottom: 50px;
      transition: all .2s ease-in;
      &:hover {
        transform: translateY(-10px);
      }
      .item_content {
        text-align: center;
        padding: 20px 5px 10px 5px;
        margin-bottom: 100px;
        .user_name {
          display: block;
          margin: 10px auto;
          font-size: 15px;
        }
        .user_bio {
          display: block;
          font-size: 13px;
          min-height: 35px;
          color: #6e6e6e;
        }
        .button_container {
          margin: 20px auto;
          display: flex;
          justify-content: space-evenly;
          padding: 0 30px;
          button {
            color: #adff2f;
            font-weight: 600;
            background-color: #fff;
            border: 2px solid #adff2f;
            border-radius: 5px;
            padding: 3px 7px;
            transition: all .4s;
            &:hover {
              cursor: pointer;
              color: #fff;
              background-color: #adff2f;
            }
          }
        }
      }
    }
  }
}